body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

form {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, p {
    width: 200px; /* Adjust the width as needed */
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
h2 {
     /* Center the text */
    margin-top: 20px; /* Add margin to the top for spacing */
}